.table-wrapper-scroll-y {
    display: block;
    overflow: auto;
    position: relative;
}

#chartcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100% !important;
    height: 100% !important;
}